body {
    background-color: #222222;
    color: white;
    font-family: sans-serif;
}

#root {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 250px;
    cursor: pointer;
}

.container {
    margin-bottom: 50px;

}
.container p{
    padding: 0 50px;
    margin: 0 auto;
    width: 350px;
}

.image-counter {
    display: inline-block;
    position: relative;
}

.image-counter .count {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 2rem;
    transform: translateY(-50%);
    transition: all .2s;
}

.image-counter:hover .count {
    opacity: 1;
    left: 110%;
}


label{
    display: block;
    margin-top: 10px;
}

.btn{
    display: inline-block;
    width: 50px;
    margin: 10px auto;
    padding: 10px;
    color: red;
    transition: background .12s ease,
                border .12s ease;
    border: 2px dashed rgba(233,233,233, .1);
}

.btn:hover{
    background: seashell;
}
.btn:active{
    border: 2px dashed rgba(33,33,33, .3);
}

.btnFormToggle{

}
form{
    padding: 30px;
    width: 300px;
    margin: 0 auto;
}